body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgb(35, 34, 54),black) ;
    color: white;
}
header {
    text-align: center;
    text-shadow: 2px 2px 10px white
}
div.suggestion{
    background: rgb(182, 186, 196);
    color: black
}
h1.main_heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-transform: uppercas;
}
p.main_subheading {
    font-size:22.5px;
    font-style: italic;
}
.line {
    color:black
}
table.navigation {
    width: 30% ;
    margin-left: 35% ;
    margin-right: 35%
}
td.navcells {
    text-align: center
}