body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgb(26, 24, 58),black) ;
    color: white;
}
/*top heading*/
header {
    text-align: center;
    text-shadow: 2px 2px 10px white
}
h1.main_heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-transform: uppercas;
}
p.main_subheading {
    font-size:22.5px;
    font-style: italic;
}
.line {
    color:black
}
/*navigator*/
table.navigation {
    width: 30% ;
    margin-left: 35% ;
    margin-right: 35%;
}
td.navcells {
    text-align: center;
}
div.loginbutton {
    position: relative;
    left: 1%;
}
div.login {
    display: none;
    background: linear-gradient(white,rgb(51, 3, 83));
    border: solid black;
    width: 20% ;
    height: 30%;
    position: fixed;
    margin-left: 40%;
    margin-right: 40%;
    top: 230px ;
    overflow: auto ;
    text-align: center;
    color: black;
    border-width: medium;
}
p.passwordheader{
    font-size: 30px;
}
/*Home page*/
h2 {
    text-decoration: underline;
    font-size: 22.5px
}
ul.whoarewe {
    font-size: 25px
}
table.members {
    margin-right: 30% ;
    margin-left: 0% ;
    border-collapse: separate ;
    border-spacing: 40px
}
div.memberbox {
    border: solid white ;
    background: linear-gradient(rgb(51, 3, 83),black);
    height: 600px ;
    width: 400px ;
    text-align: center ;
    font-family: georgia ;
}
ul.memberdescription {
    text-align: left ;
}
img.memberPhoto {
    width: 250px ;
    height: auto ;
    border: solid white;
}
img.memberPhotolarge {
    width: 200px ;
    height: auto ;
    border: solid white;
}
img.gianPhoto {
    width: 300px ;
    height: auto;
    border: solid white ;
}
img.memberPhoto_lyndell {
    width: 150px ;
    height: auto ;
    border: solid white ;
}
/*project page*/
div.projectboxes {
    position: relative;
    left: 20%;
    top: 15% ;
}
div.project1 {
    background: linear-gradient(rgb(51, 3, 83),black);
    border: solid white ;
    width: 70%;
    height: 250px ;
    margin-top: 15px ;
}
div.project2 {
    background: linear-gradient(rgb(51, 3, 83),black);
    border: solid white ;
    width: 70%;
    height: 250px;
    margin-top: 15px;
}
div.project3{
    background: linear-gradient(rgb(51, 3, 83),black);
    border: solid white ;
    width: 70%;
    height: 250px;
    margin-top: 15px;
}
div.forms {
    background: linear-gradient(rgb(51, 3, 83),black);
    border: solid white;
    width: 17% ;
    height: 395px;
    position: fixed;
    top: 230px ;
    overflow: auto ;
    padding-left: 10px
}
/*Projects Editing Page*/
